@page "/Tecnico/Create"
@inject TecnicoService tecnicoServices
@inject NavigationManager navigation
@rendermode InteractiveServer


<PageTitle>Create</PageTitle>
    <EditForm Model="tecnico" OnValidSubmit="Crear">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="container p-0">
        <div class="card shadow/lg">
            <div class="card-header text-center bg-primary text-white">
                <h3 class="card-title"><strong>Registro de Técnicos</strong></h3>
            </div>

        <div class="card-body">
                @*Id*@
                <div class="mb-3">
                    <label class="form-label"><strong>Tecnico Id</strong></label>
                    <InputNumber class="form-control" @bind-Value="tecnico.TecnicoId" READONLY></InputNumber>
                </div>

                @*Nombres*@
                <div class="mb-3">
                    <label class="form-label" for="nombres"><strong>Nombre</strong></label>
                    <InputText id="nombres" class="form-control" @bind-Value="tecnico.Nombres"></InputText>
                    <ValidationMessage For="@(()=> tecnico.Nombres)"></ValidationMessage>
                </div>

                @*Sueldo Hora*@
                <div class="mb-3">
                    <label class="form-label" for="sueldo"><strong>Sueldo por hora</strong></label>
                    <InputNumber id="sueldo" class="form-control" @bind-Value="tecnico.SueldoHora"></InputNumber>
                    <ValidationMessage For="@(()=> tecnico.SueldoHora)"></ValidationMessage>
                </div>

                </div>

        @* footer *@
        <div class="card-footer text-center mt-2">
            <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo </button>
            <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <a type="button" href="/Tecnico/Index/" class="btn btn-secondary">
                    <i class="bi bi-arrow-bar-left"></i> Volver
                </a>
        </div>
    </div>
    </div>


    </EditForm>

@code {
    public Tecnicos tecnico { get; set; } = new Tecnicos();

    [Inject] protected ToastService? ToastService { get; set; }

    public async Task Crear()
    {
        if (await Validar())
        {
            await tecnicoServices.Guardar(tecnico);

            ToastService?.Notify(new(ToastType.Success, "Éxito", "Técnico creado correctamente."));

            tecnico = new Tecnicos();
            navigation.NavigateTo("/Tecnico/Index?mensaje=Tecnico creado correctamente");
        }
        else
        {
            ToastService?.Notify(new(ToastType.Danger, "Error", "No se pudo guardar: ya existe un técnico con ese nombre."));
        }
    }

    public void Nuevo()
    {
        tecnico = new Tecnicos();
    }

    public async Task<bool> Validar()
    {
        if (string.IsNullOrWhiteSpace(tecnico.Nombres))
            return false;

        var existeTecnico = await tecnicoServices.BuscarNombres(tecnico.Nombres);

        return existeTecnico == null;
    }
}